pre code > span {
  display: inline-block;
  line-height: 1.25;
}

div.sourceCode {
  /*
  background-color: #f6f6f6!important;
  */
  height: auto!important;
  overflow: visible;
}

.cb-file-container {
  background-color: transparent;
}

.cb-vm > .cb-exec-controls {
  margin-right: 10px;
  opacity: 0;
  top: 0;
  transform: scale(0.5) translateY(-50%);
  transform-origin: top right;
  visibility: hidden;
  z-index: 3;
}

.want-to-exec.cb-vm > .cb-exec-controls {
  opacity: 1;
  visibility: visible;
}

.cb-vm .btn-exec-example {
  bottom: 0;
  display: block;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 3;
}

.want-to-exec.cb-vm .btn-exec-example {
  display: none;
}

.cb-editors {
  font-size: 30px;
  height: auto;
  margin: 0.5rem 1rem;
  transition: 0.25s ease all;
}

.cb-console,
.cb-playground {
  display: block!important;
  height: 0!important;
}

.cb-repl-container,
.cb-drawing-window,
.cb-pixels-window {
  background-color: #e0e0e0;
  border-radius: 1rem;
  box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
  display: none!important;
  height: auto;
  left: 1rem;
  margin: 0;
  max-height: 25rem;
  padding: 2rem;
  position: absolute;
  overflow: auto;
  right: 1rem;
  top: calc(100% - 1rem);
  z-index: 4;
}

.cb-exec-controls .cb-step-counter,
.cb-exec-controls-buttons {
  box-shadow: 8px 8px 8px 3px rgba(0, 0, 0, 0.2);
}

.tippy-box[data-theme="cb-exec-point-bubble"] {
  box-shadow: 4px 4px 8px 4px rgba(0, 0, 0, 0.25);
}

.cb-vm.want-to-exec[data-cb-show-repl-container] .cb-repl-container,
.cb-vm.want-to-exec[data-cb-show-drawing-window] .cb-playground,
.cb-vm.want-to-exec[data-cb-show-drawing-window] .cb-drawing-window,
.cb-vm.want-to-exec[data-cb-show-pixels-window] .cb-playground,
.cb-vm.want-to-exec[data-cb-show-pixels-window] .cb-pixels-window {
  display: block!important;
}

.cb-vm .open-btn:hover {
  cursor: pointer;
}

.cb-vm .open-btn {
  margin: 0;
  opacity: 1;
  text-align: center;
  transition: 0.25s ease all;
  z-index: 3;
}

.cb-vm:not([data-cb-show-repl-container]) .btn-repl-container,
.cb-vm:not([data-cb-show-drawing-window]) .btn-drawing-window,
.cb-vm:not([data-cb-show-pixels-window]) .btn-pixels-window {
  display: none;
}

.cb-vm .open-btn svg {
  transform: scale(0.75);
  width: 1.8em;
}

.want-to-exec.cb-vm[data-cb-show-repl-container] .open-btn.btn-repl-container,
.want-to-exec.cb-vm[data-cb-show-drawing-window] .open-btn.btn-drawing-window,
.want-to-exec.cb-vm[data-cb-show-pixels-window] .open-btn.btn-pixels-window,
.want-to-exec.cb-vm .open-btn:hover {
    background-color: #007bff!important;
    color: white;
}

.want-to-exec.cb-vm[data-cb-show-repl-container] .open-btn.btn-repl-container .stroke,
.want-to-exec.cb-vm[data-cb-show-drawing-window] .open-btn.btn-drawing-window .stroke,
.want-to-exec.cb-vm[data-cb-show-pixels-window] .open-btn.btn-pixels-window .stroke,
.want-to-exec.cb-vm .open-btn:hover .stroke {
    stroke: white;
}

.want-to-exec.cb-vm[data-cb-show-repl-container] .open-btn.btn-repl-container .fill,
.want-to-exec.cb-vm[data-cb-show-drawing-window] .open-btn.btn-drawing-window .fill,
.want-to-exec.cb-vm[data-cb-show-pixels-window] .open-btn.btn-pixels-window .fill,
.want-to-exec.cb-vm .open-btn:hover .fill {
    fill: white;
}

.cb-vm:not(.want-to-exec) .open-btn {
  opacity: 0;
}

.CodeMirror-sizer {
  min-height: 100%!important;
}

/* Possibility to choose the example's font size */

.cb-font-size-05 .cb-editors { font-size:  5%; }
.cb-font-size-10 .cb-editors { font-size: 10%; }
.cb-font-size-15 .cb-editors { font-size: 15%; }
.cb-font-size-20 .cb-editors { font-size: 20%; }
.cb-font-size-25 .cb-editors { font-size: 25%; }
.cb-font-size-30 .cb-editors { font-size: 30%; }
.cb-font-size-35 .cb-editors { font-size: 35%; }
.cb-font-size-40 .cb-editors { font-size: 40%; }
.cb-font-size-45 .cb-editors { font-size: 45%; }
.cb-font-size-50 .cb-editors { font-size: 50%; }
.cb-font-size-55 .cb-editors { font-size: 55%; }
.cb-font-size-60 .cb-editors { font-size: 60%; }
.cb-font-size-65 .cb-editors { font-size: 65%; }
.cb-font-size-70 .cb-editors { font-size: 70%; }
.cb-font-size-75 .cb-editors { font-size: 75%; }
.cb-font-size-80 .cb-editors { font-size: 80%; }
.cb-font-size-85 .cb-editors { font-size: 85%; }
.cb-font-size-90 .cb-editors { font-size: 90%; }
.cb-font-size-95 .cb-editors { font-size: 95%; }

/* For overflowing slides */
.reveal .slide {
  height: calc(100% - 40px);
  max-height: calc(100% - 40px);
  padding-bottom: 0!important;
  overflow: auto;
}

div.sourceCode {
  margin-left: 50px!important;
  margin-right: 50px!important;
}

.sourceCode .cb-vm .CodeMirror-scroll {
  max-height: 586px;
}

.CodeMirror-vscrollbar,
.CodeMirror-hscrollbar,
.CodeMirror-scrollbar-filler,
.CodeMirror-gutter-filler {
  z-index: 2;
}

/* fixing tippy for real this time */
.CodeMirror-line > span {
  display: block;
}

.CodeMirror-line > span span {
  display: inline-block;
}

.CodeMirror pre.CodeMirror-line,
.CodeMirror pre.CodeMirror-line-like,
.CodeMirror-lines {
  padding: 0;
}
